body {
  background-color: #c8c6a7;
  margin: 0;
}

.main-img {
  display: block;
  margin: 0px auto;
  width: 100%
}

h1 {
  color: #433520;
  font-size: 40px;
  text-align: center;
}

p {
  color:#433520;
  font-size: 20px;
  text-align: center;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  justify-items: center;
}

.links-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  margin: 20px auto;
  width: 700px;
}

.links-block--link {
  color: 433520;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.side-img {
  height: 300px;
}